<html>
<head>
    <title>
        alarmism.watch - Tracking alarmist stories and predictions
    </title>

    <meta property="og:title" content="alarmism.watch: Tracking alarmist stories and predictions" />
    <meta property="og:url" content="https://alarmism.watch" />
    <meta property="og:description" content="Everday we are getting bombarded with alarmist predictions about the bleak future. But did you know that most of them failed to materialize? This websites tracks those predictions." />
    <meta property="og:image" content="/assets/favicon.svg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@shubhamjainco">
    <meta name="twitter:title" content="alarmism.watch: Tracking alarmist stories and predictions">
    <meta name="twitter:description" content="Everday we are getting bombarded with alarmist predictions about the bleak future. But did you know that most of them failed to materialize? This websites tracks those predictions." />

    <meta name="twitter:image" content="https://alarmism.watch/assets/favicon.svg" />

    <link rel="stylesheet" type="text/css" href="/assets/build.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/favicon.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            font-family: 'Catamaran', sans-serif;
            font-weight: 200;
        }

        *[aria-label] > span {
            border-bottom: 1px dotted;
        }
        @media (min-width:640px){
        .sm\:overflow-visible{overflow:visible}
        .sm\:w-1\/2{width:50%}
        }
    </style>
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto px-3">
        <div class="flex mt-12 justify-between items-baseline border-b mb-8 border-gray-700">
            <h1 class="text-5xl font-bold tracking-tight text-orange-400">alarmism.watch</h1>
            <div class="text-lg">
                <a class="text-white inline-block mr-4 font-bold cursor-pointer" target="_blank" href="https://twitter.com/alarmismwatch">Twitter</a>
            </div>
        </div>
        <div class="max-w-3xl text-lg font-medium text-gray-300">
            <p>
                Every day we are warned about the imminent threats concerning climate, technology, economy, or society.
                &OpenCurlyDoubleQuote;We are in an economic bubble,&CloseCurlyDoubleQuote; or &OpenCurlyDoubleQuote;Humanity faces mass-extinction in 20 years.&CloseCurlyDoubleQuote;
                On the less alarmist side, we have pessmists warning us why something (e.g, the internet) will never work.
            </p>
            
            <p class="mt-4">
                No doubt, there should be valid concerns about the future, but we never revisit these gloomy
                predictions, even when scores of them have failed to materialize. 
            </p>

            <p class="mt-4">
                I don't intend to make a political statement, however I want to track
                these claims to hold them accountable. 
            </p>
        </div>
        <div class="my-8 toFixed overflow-auto sm:overflow-visible">
            <span class="mb-4 bg-gray-800 inline-block px-4 py-2 rounded font-medium">
                Predictions Listed: {{ items | length }}
            </span>
            <table class="w-full js-sort-table" style="min-width: 700px;">
                <thead>
                    <tr class="text-md py-4">
                        <th class="py-4 bg-gray-900 cursor-pointer w-1/3 sm:w-1/2" >Prediction</th>
                        <th class="py-4 bg-gray-900 cursor-pointer">Status</th>
                        <th class="py-4 bg-gray-900 cursor-pointer">Category</th>
                        <th class="py-4 bg-gray-900 cursor-pointer">Made About</th>
                        <th class="py-4 bg-gray-900 cursor-pointer">Made In</th>
                </tr></thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="max-w-sm py-4 text-lg pr-2">

                            <span>
                                {{ item.headline | safe }}
                            </span>
            
                            <a href="{{ item.link }}" class="inline-block text-blue-600 text-sm font-bold mr-3" target="_blank">
                                Source
                            </a>
                           
                        </td>
                                            
                        <td  class="text-center {% if item.status_comment %}hint--bottom hint--medium{% endif %}"
                            style="display: table-cell;"
                            {% if item.status_comment %}
                                aria-label="{{ item.status_comment }}"
                            {% endif %}>

                        {% if item.status == 'Failed' or
                            item.status == 'Very Unlikely' %}
                            <span class="font-bold text-red-600">{{ item.status }}</span>
                        {% elif item.status == 'Correct' or item.status == 'Likely' %}
                            <span class="font-bold text-green-600">{{ item.status }}</span>
                        {% else %}
                            <span class="font-bold text-yellow-700">Awaited</span>
                        {% endif %}
                        
                        </td>
                        <td class="text-center">{{ item.category }}</td>
                        <td class="text-center">{{ item.about_year }}</td>
                        <td class="text-center">{{ item.year }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="flex justify-between mx-auto border-t-2 pt-4 pb-12 border-gray-800 font-medium">
            <p class="text-sm">
                Last Updated: {{ last_modified }}
            </p>
            <p class="text-sm">
                Made by: <a href="https://twitter.com/@shubhamjainco" class="text-blue-600">@shubhamjainco</a>
            </p>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77712845-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-77712845-3');
    </script>

    <script src="/assets/sorttable.js"></script>
</body>
</html>